<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janta.shopcluesshoppingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopCluesShoppingApp">
        <activity android:name="com.janta.shopcluesshoppingapp.CategoryDataShowingActivity"></activity>
        <activity android:name="com.janta.shopcluesshoppingapp.OrderConfirmed" />
        <activity android:name="com.janta.shopcluesshoppingapp.PaymentGateway" />
        <activity android:name="com.janta.shopcluesshoppingapp.EditAddress" />
        <activity android:name="com.janta.shopcluesshoppingapp.OrderActivity" />
        <activity android:name="com.janta.shopcluesshoppingapp.EmptyOrder" />
        <activity android:name="com.janta.shopcluesshoppingapp.EmptyWishList" />
        <activity android:name="com.janta.shopcluesshoppingapp.MessageSentSuccessful" />
        <activity android:name="com.janta.shopcluesshoppingapp.SubmitQueryEffect" />
        <activity android:name="com.janta.shopcluesshoppingapp.Contact" />
        <activity android:name="com.janta.shopcluesshoppingapp.EmptyCart" />
        <activity android:name="com.janta.shopcluesshoppingapp.CartLayout" />
        <activity android:name="com.janta.shopcluesshoppingapp.ProductDetail" />
        <activity android:name="com.janta.shopcluesshoppingapp.HomeActivity" />
        <activity android:name="com.janta.shopcluesshoppingapp.RegistrationActivity" />
        <activity android:name="com.janta.shopcluesshoppingapp.LogInActivity" />
        <activity android:name="com.janta.shopcluesshoppingapp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>